backend:
  name: github
  repo: FabricioAgurto/limacity_site
  branch: main
  base_url: https://auth-limacity.xzzoom.workers.dev
  auth_endpoint: /api/auth


media_folder: "static/uploads"
public_folder: "/uploads"

publish_mode: editorial_workflow

collections:
  - name: "updates"
    label: "Noticias"
    label_singular: "Noticia"
    folder: "content"
    extension: "json"
    format: "json"
    create: false
    editor:
      preview: false
    files:
      - file: "content/updates.json"
        label: "Listado de noticias"
        name: "updates_json"
        fields:
          - label: "Noticias"
            name: "items"
            widget: "list"
            summary: "{{fields.title}} — {{fields.date}}"
            fields:
              - { label: "Título", name: "title", widget: "string" }
              - { label: "Fecha", name: "date", widget: "datetime" }
              - { label: "Autor", name: "author", widget: "string", default: "Staff" }
              - { label: "Contenido", name: "content", widget: "text" }
